<%- include('./partial/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-white">
        About Page
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas eligendi expedita sint minus, maiores porro magnam, placeat iste sit sapiente magni cupiditate tempora autem possimus quos. Mollitia sed voluptates consequuntur, sapiente laborum pariatur, quaerat nihil impedit fugit eum illo.</p>
</div>
<%- include('./partial/footer.ejs') %> 
    
