<%- include('./partial/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-blue">
        Home Page
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, magni ipsa accusamus odit inventore unde voluptatem nulla, cum illo blanditiis aut eveniet quas asperiores cupiditate autem iste! Dolorum natus iusto quae necessitatibus officia ad quas sequi similique id cupiditate! Quod.</p>
</div>
<%- include('./partial/footer.ejs') %> 
    
